body {
  background-color: #f3f3f3;
  color: #333;
}
#head {
  width: 960px;
  margin: auto;
  margin-top: 20px;
}
div.main-container {
  width: 960px;
  margin: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 2px 2px #e0e0e0;
  margin-top: 10px;
}

/* navigation */
#nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: block;
  border-bottom: 1px solid #ccc;
  background-image: linear-gradient(bottom, #ddd 21%, #eee 61%);
  background-image: -o-linear-gradient(bottom, #ddd 21%, #eee 61%);
  background-image: -moz-linear-gradient(bottom, #ddd 21%, #eee 61%);
  background-image: -webkit-linear-gradient(bottom, #ddd 21%, #eee 61%);
  background-image: -ms-linear-gradient(bottom, #ddd 21%, #eee 61%);
}
#nav li {
  display: inline-block;
  border-right: 1px solid #ccc;
  margin: 0;
  padding: 0;
}
#nav li a {
  display: block;
  padding: 8px 12px;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#footer {
  text-align: center;
  font-size: 90%;
  margin-top: 20px;
  color: #ccc;
}
#footer a {
  color: #ccc;
}

div.content-container {
  margin: 10px;
}

#bookmarks-menu ul {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}
#bookmarks-menu li {
  line-height: 1.8em;
}
#bookmarks-menu a {
  padding-left: 5px;
  padding-right: 20px;
  color: #333;
  text-decoration: none;
}
#bookmarks-menu .yui3-menu-label {
  background: url(http://yui.yahooapis.com/3.5.1/build/node-menunav/assets/skins/sam/vertical-menu-submenu-indicator.png) right center no-repeat;
}
#bookmarks-menu li:hover {
  background-color: #f2f2f2;
}
