         <div class="inline">
            <TMPL_IF TITLE><div class="pagetitle"><a href="<TMPL_VAR PAGEURL>"><TMPL_VAR TITLE></a></div></TMPL_IF>

            <div class="datetime"><TMPL_VAR CTIME></div>

            <TMPL_VAR CONTENT>
         </div>
