         <div class="inline">
            <TMPL_IF TITLE><div class="pagetitle"><TMPL_VAR TITLE></div></TMPL_IF>
            
            <div class="datetime"><TMPL_VAR CTIME></div>

            <TMPL_VAR CONTENT>
         </div>
