<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><TMPL_IF TITLE><TMPL_VAR TITLE> - </TMPL_IF>Onur Aslan</title>
<link rel="icon" type="image/png" href="<TMPL_VAR BASEURL>favicon.png" />
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' type='text/css' />
<link rel="stylesheet" type="text/css" href="<TMPL_VAR BASEURL>local.css" />
<TMPL_IF DYNAMIC>
<TMPL_IF FORCEBASEURL><base href="<TMPL_VAR FORCEBASEURL>" /><TMPL_ELSE>
<TMPL_IF BASEURL><base href="<TMPL_VAR BASEURL>" /></TMPL_IF>
</TMPL_IF>
</TMPL_IF>
<TMPL_IF FEEDLINKS><TMPL_VAR FEEDLINKS></TMPL_IF>
<TMPL_IF RELVCS><TMPL_VAR RELVCS></TMPL_IF>
<TMPL_IF META><TMPL_VAR META></TMPL_IF>
<TMPL_LOOP TRAILLOOP>
<TMPL_IF PREVPAGE>
<link rel="prev" href="<TMPL_VAR PREVURL>" title="<TMPL_VAR PREVTITLE>" />
</TMPL_IF>
<link rel="up" href="<TMPL_VAR TRAILURL>" title="<TMPL_VAR TRAILTITLE>" />
<TMPL_IF NEXTPAGE>
<link rel="next" href="<TMPL_VAR NEXTURL>" title="<TMPL_VAR NEXTTITLE>" />
</TMPL_IF>
</TMPL_LOOP>
</head>
<body>

        <div id="topbar">
            <ul class="social">
                <li><a href="http://github.com/onuraslan" title="Onur Aslan on GitHub">g</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>


        <div id="content">

            <TMPL_IF TITLE><div class="pagetitle"><TMPL_VAR TITLE></div></TMPL_IF>
            
            <div class="datetime"><TMPL_VAR MTIME></div>

            <TMPL_VAR CONTENT>

        </div>

        <div id="footer">

            <TMPL_IF TAGS>
            <div class="tags">Tags:
            <TMPL_LOOP TAGS>
            <TMPL_VAR LINK>
            </TMPL_LOOP>
            </div>
            </TMPL_IF>

            <div class="parentlinks">
            <TMPL_LOOP PARENTLINKS>
            <a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a>/ 
            </TMPL_LOOP>
            </span>

            <ul class="social">
                <li><a href="http://github.com/onuraslan" title="Onur Aslan on GitHub">g</a></li>
            </ul>
            <div class="clearfix"></div>

            <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>.</p>
            <p>&copy; <TMPL_VAR MTIME> Onur Aslan</p>

        </div>

</body>
</html>
